/* CSS Document */
.text-contact {
  font-family: 'Montserrat', sans-serif;
  mix-blend-mode: difference;
  font-weight: 600;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text-contact ul {
  padding: 5% 5%;
  min-width: 100vw;
}
.text-contact a {
  min-width: 100vw;
  text-decoration: none;
  font-weight: 300;
  font-size: 9vh;
  color: #F2F2F2;
  text-align: left;
  opacity: .6;
  line-height: 11vh;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  transition: opacity .8s ease-in-out;
  transition: 0.8s ease;
}
.text-contact span {
  padding-right: 2.5%;
  font-size: 32px;
}
.text-contact a:hover{
  font-weight: 300;
  opacity: 1;
  text-decoration: none;
  font-size: 9vh;
	letter-spacing: 0.15vw;
  color: #F2F2F2;
  text-align: left;
  line-height: 11vh;
}
.text-contact ul {
  list-style: none;
  line-height: 5rem;
  text-align: left;
}
.text-contact {
  font-family: 'Montserrat', sans-serif;
  mix-blend-mode: difference;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  z-index: 800;
  font-weight: 600;
}
.labelamail:after{
    content:'email';
	transition-duration: .5s;
}
.labelamail:hover:after{
    content:'gamoke1401@gmail.com';
	transition-duration: .5s;
}
.labelabehance:after{
  content:'behance';
transition-duration: .5s;
}
.labelabehance:hover:after{
  content:'/gamoke';
transition-duration: .5s;
}
.labelafb:after{
  content:'facebook';
transition-duration: .5s;
}
.labelafb:hover:after{
  content:'/nguyenminhloc.1401';
transition-duration: .5s;
}




/*
.bg-white-last {
  height: 90vh;
  background-color: white;
}
#bg-aboutme-black-1 {
  width: 100vw;
  height: 100%;
  background-color: black;
  border-radius: 0 0 10% 10%;
  position: relative;
}
.bg-black-last {
  height: 10vh;
  background-color: black;
}
*/

/* Animation */
.info {
  animation: animated-text 3s steps(90, end) 1s 1 normal both;
}
/* text animation */
@keyframes animated-text {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
#bg-aboutme-white-2 {
  width: 100vw;
  height: 6vh;
  background-color: #F2F2F2;
	  display: flex;
  text-align: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
	border-radius: 10% 10% 0 0;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
	border-radius: 10% 10% 0 0;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, #F2F2F2 0%, rgba(13, 13, 13, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 50px;
  padding-left: 50px;
}