/* 
** Change this if you need to modify
** the amount of lines displayed
*/
/*
** Leave these unless you want
** to open a whole can of worms
*/
/*
** Set up the experiment
*/
body {
  display: flex;
}

/*
** Apply styles to the parent element
*/
main{
	background: #F2F2F2;
	position: fixed;
	z-index: -9999;
	width: 100vw;
}
.Words {
	color: #0D0D0D;
  margin: 25vh 0 0 5vw;
  font-size: 3vh;
  font-weight: 900;
  letter-spacing: -0.2vh;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
.normal{
	text-transform: none!important;
	  font-size: 1.5vh!important;
	  font-weight: 300!important;
  letter-spacing: 0!important;
}
/*
** Apply common styles to each line of text
*/
.Words-line {
  height: 3vh;
  overflow: hidden;
  position: relative;
}
.Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
.Words-line:nth-child(1) {
  left: 1.66vh;
}
.Words-line:nth-child(2) {
  left: 3.32vh;
}
.Words-line:nth-child(3) {
  left: 5.98vh;
}
.Words-line:nth-child(4) {
  left: 7.64vh;
}
.Words-line:nth-child(5) {
  left: 9.30vh;
}
.Words-line:nth-child(6) {
  left: 10.96vh;
}
.Words-line:nth-child(7) {
  left: 12.62vh;
}
.Words-line:nth-child(8) {
  left: 14.38vh;
}
/*
** Fine-grained text styles
*/
p {
  height: 3vh;
  line-height: 2.5vh;

  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

/*
** The hover interaction
*/
.Words:hover p {
  transform: translate3d(0, -3vh, 0);
}

/*new*/
.crilcetext{
  display: flex;
  min-height: 100vh;
	min-width: 100vw;
  align-items: center;
  justify-content: flex-end;
	position: absolute;
	right: 0%;
	color: #0d0d0d;
}
.crilcetext p {
	font-size: 3vh;
  text-transform: uppercase;
	font-weight: 400;
}
.small, .medium{
	display: flex;
	align-items: center;
	justify-content: center;
}
.small {
  -webkit-animation: linear 15s rotate infinite;
          animation: linear 15s rotate infinite;
}

.medium {
  animation: linear 30s rotate reverse infinite;
}

@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}